<div class="border border-black">
  <h1>LiveView actions</h1>
  <button phx-click="send_to_react" phx-value-new_count="2">LV Action</button>
</div>
Here be some React...
<div id="greeting" phx-hook="Greeter" phx-update="ignore"></div>
